body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

header {
    background-color: orangered;
}

a {
    text-decoration: none;
}

header a {
    color: white;
}

main {
    padding: 16px;
    height: 83vh;
}

.recipes{
    display: grid;
    grid-template-columns: repeat(4, 300px);
}

h1 {
    color: darkgreen;
}


main a{
    color: green;
}

.even{
    background-color: lightgrey;
}

footer {
    margin-top: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0px;
    background-color: greenyellow;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px  solid black;
    padding: 16px;
}

a:hover{
    text-shadow: #FC0 1px 0 10px;;
}